<!-- footer -->
<section id="footer-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4> <strong>DOWNLOAD APP HERE</strong> </h4>
                <p>
                    <a href="#">
                        <img alt="Android app on Google Play" src="images/icons/en_app_rgb_wo_45.png" />
                    </a>
                    <a href="#"><img src="images/icons/download-app-store1.png" alt="iPhone APP"></a>
                </p>
            </div>
            <div class="col-md-4">
                <h4> <strong>SOCIAL LINKS</strong> </h4>
                <p>
                    <a href="https://www.facebook.com/MONEYSCANNER" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.twitter.com/moneyscanner" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
                    <a href="https://www.pinterest.com/moneyscanner" target="_blank"><i class="fa fa-pinterest-square fa-3x"></i></a>
                    <a href="https://plus.google.com/103118449396398932377/posts" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
                </p>
            </div>
            <div class="col-md-4 " id="footer-explore">
                <h4> <strong>EXPLORE</strong> </h4>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="contact.html">About Us</a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="contact.html#contactus">Contact Us</a>
                </div>
                <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">News</a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Investor Relations</a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Reviews</a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Careers</a>
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="index.html">Global Home</a>
                </div>
                <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Mobile</a>
                </div> -->
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="compare.html">Transfer comparison</a>
                </div>
                <!-- <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Site Map</a>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a href="#">Fee Calculator</a>
                </div> -->
            </div>
        </div>
		
		<div class="row" style="padding-top:10px;border-top:1px #222 solid;margin-top:10px;">
			<div class="text-center">
                Copyright © 2015, MoneyScanner.
            </div>
		</div>
    </div>
    <br />
</section>
<script>
        //$(function () {
        //    $('#resetpswd').css({ height: $(window).innerHeight()  - $('#footer').height() });
        //});
</script>
<!-- end footer -->
